In [49]:
# Initial imports
import pandas as pd
import numpy as np
import hvplot.pandas
from path import Path
import sqlite3

In [2]:
# Read in the data for brewery listings and create a Pandas DataFrame.
# Loading data
file_path = "brewery_listing.csv" 
brewery_listing_df= pd.read_csv(file_path)

brewery_listing_df.head()

,key,Name,Address,City,ST,Zip,County,Website,Phone,Type,New_Revised,Updated
0,Anchorage AK,49th State Brewing Co Anchorage,717 W 3rd Ave,Anchorage,AK,99501,Anchorage,49statebrewing.com/anchorage/,907-277 7727,BP,NaN,NaN
1,Anchorage AK,Anchorage Brewing Co,148 W 91st Ave,Anchorage,AK,99515,Anchorage,anchoragebrewingcompany.com/,907-360-5104,BC/TR,NaN,NaN
2,Anchorage AK,Broken Tooth Brewing Co,2021 Spar Ave,Anchorage,AK,99501,Anchorage,brokentoothbrewing.net/,907-278-4999,BC,NaN,NaN
3,Anchorage AK,Cynosure Brewing Co,144 E Potter Dr - Unit E,Anchorage,AK,99518,Anchorage,www.facebook.com/CynosureBrewing,907-563-2966,BC/TR,NaN,NaN
4,Anchorage AK,Glacier Brewhouse,737 W 5th Ave,Anchorage,AK,99501,Anchorage,www.glacierbrewhouse.com/,907-274-2739,BP,NaN,NaN

In [3]:
# Identify the columns 
brewery_listing_df.columns

Index(['key', 'Name', 'Address', 'City', 'ST', 'Zip', 'County', 'Website',
       'Phone', 'Type', 'New_Revised', 'Updated'],
      dtype='object')

In [4]:
# Rename the ST column to State
brewery_listing_df=brewery_listing_df.rename(columns={"Name":"Brewery","ST":"State"})

In [5]:
# Retain the desired columns
brewery_listing_df = brewery_listing_df[["key","Brewery", "City","County","State"]]

In [6]:
# Display the first five results
brewery_listing_df.head()

            key                          Brewery       City      County State
0  Anchorage AK  49th State Brewing Co Anchorage  Anchorage   Anchorage    AK
1  Anchorage AK             Anchorage Brewing Co  Anchorage   Anchorage    AK
2  Anchorage AK          Broken Tooth Brewing Co  Anchorage   Anchorage    AK
3  Anchorage AK              Cynosure Brewing Co  Anchorage   Anchorage    AK
4  Anchorage AK                Glacier Brewhouse  Anchorage   Anchorage    AK

In [7]:
# Check for null values.
for column in brewery_listing_df.columns:
    print(f"Column {column} has {brewery_listing_df[column].isnull().sum()}null values")

Column key has 0null values
Column Brewery has 0null values
Column City has 0null values
Column County has 0null values
Column State has 0null values

In [8]:
# Find duplicate entries
print(f"Duplicate entries: {brewery_listing_df.duplicated().sum()}")

Duplicate entries: 116

In [9]:
# Remove duplicates
brewery_listing_df=brewery_listing_df.drop_duplicates()

In [10]:
brewery_listing_df.dtypes

key        object
Brewery    object
City       object
County     object
State      object
dtype: object

In [11]:
# Read in the data for the county fips tool to a Pandas DataFrame.
# Loading data
file_path = "uscities.csv" 
fip_key_df= pd.read_csv(file_path)

fip_key_df = fip_key_df[["key","county_fips",]]

fip_key_df.head()

              key  county_fips
0     New York NY        36061
1  Los Angeles CA         6037
2      Chicago IL        17031
3        Miami FL        12086
4       Dallas TX        48113

In [12]:
# Check for null values.
for column in fip_key_df.columns:
    print(f"Column {column} has {fip_key_df[column].isnull().sum()}null values")

Column key has 0null values
Column county_fips has 0null values

In [13]:
# Find duplicate entries
print(f"Duplicate entries: {fip_key_df.duplicated().sum()}")

Duplicate entries: 0

In [14]:
# Join brewery_listing_df with fip_key_df to creat a new DataFrame called beweries_df
breweries_df = pd.merge(brewery_listing_df, fip_key_df, on="key")
breweries_df.drop(columns=["key"], inplace=True)
breweries_df.head()

                           Brewery       City      County State  county_fips
0  49th State Brewing Co Anchorage  Anchorage   Anchorage    AK         2020
1             Anchorage Brewing Co  Anchorage   Anchorage    AK         2020
2          Broken Tooth Brewing Co  Anchorage   Anchorage    AK         2020
3              Cynosure Brewing Co  Anchorage   Anchorage    AK         2020
4                Glacier Brewhouse  Anchorage   Anchorage    AK         2020

In [15]:
# Combine county_fips and State to create a new key field.
breweries_df["county_fip_state_key"] = breweries_df["State"] + breweries_df["county_fips"].astype(str)

In [16]:
# Retain desired columns
breweries_df= breweries_df[["county_fip_state_key","Brewery","City","County","State", "county_fips" ]]
breweries_df.head()

,county_fip_state_key,Brewery,City,County,State,county_fips
0,AK2020,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020
1,AK2020,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020
2,AK2020,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020
3,AK2020,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020
4,AK2020,Glacier Brewhouse,Anchorage,Anchorage,AK,2020

In [17]:
# Check for null values in new DataFrame.
for column in breweries_df.columns:
    print(f"Column {column} has {breweries_df[column].isnull().sum()}null values")

Column county_fip_state_key has 0null values
Column Brewery has 0null values
Column City has 0null values
Column County has 0null values
Column State has 0null values
Column county_fips has 0null values

In [18]:
# Check for duplicate entries in new DataFrame
print(f"Duplicate entries: {breweries_df.duplicated().sum()}")

Duplicate entries: 0

In [19]:
# Check variable types
breweries_df.dtypes

county_fip_state_key    object
Brewery                 object
City                    object
County                  object
State                   object
county_fips              int64
dtype: object

In [20]:
# Read in the unemployment data to a Pandas DataFrame.
# Loading data
file_path = "unemployment.csv" 
unemployment_df= pd.read_csv(file_path)
unemployment_df.head()

,FIPS_Code,State,Area_name,County,Rural_urban_continuum_code_2013,Urban_influence_code_2013,City/Suburb/Town/Rural,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,1007,AL,"Bibb County, AL",Bibb,1.0,1.0,City,1.0,"8,640","8,067",573,6.6,"47,918",92.6
1,1009,AL,"Blount County, AL",Blount,1.0,1.0,City,1.0,"24,661","23,653","1,008",4.1,"52,902",102.2
2,1021,AL,"Chilton County, AL",Chilton,1.0,1.0,City,1.0,"19,592","18,618",974,5.0,"49,692",96.0
3,1073,AL,"Jefferson County, AL",Jefferson,1.0,1.0,City,1.0,"315,957","296,282","19,675",6.2,"54,127",104.6
4,1115,AL,"St. Clair County, AL",St. Clair,1.0,1.0,City,1.0,"40,132","38,146","1,986",4.9,"65,403",126.3

In [21]:
# Get the column names.
unemployment_df.columns

Index(['FIPS_Code', 'State', 'Area_name', 'County',
       'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013',
       'City/Suburb/Town/Rural', 'Metro_2013', 'Civilian_labor_force_2020',
       'Employed_2020', 'Unemployed_2020', 'Unemployment_rate_2020',
       'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019'],
      dtype='object')

In [22]:
# Rename City/Suburb/Town/Rural to Community_Type
unemployment_df=unemployment_df.rename(columns={"City/Suburb/Town/Rural":"Community_Type"})

In [23]:
# Check for null values.
for column in unemployment_df.columns:
    print(f"Column {column} has {unemployment_df[column].isnull().sum()}null values")

Column FIPS_Code has 0null values
Column State has 0null values
Column Area_name has 0null values
Column County has 0null values
Column Rural_urban_continuum_code_2013 has 56null values
Column Urban_influence_code_2013 has 56null values
Column Community_Type has 56null values
Column Metro_2013 has 53null values
Column Civilian_labor_force_2020 has 82null values
Column Employed_2020 has 82null values
Column Unemployed_2020 has 82null values
Column Unemployment_rate_2020 has 82null values
Column Median_Household_Income_2019 has 82null values
Column Med_HH_Income_Percent_of_State_Total_2019 has 83null values

In [24]:
# Drop the null values
unemployment_df=unemployment_df.dropna()

In [25]:
# Find the duplicate entries
print(f"Duplicate entries: {unemployment_df.duplicated().sum()}")

Duplicate entries: 0

In [26]:
# Create a new key column from FIPS_code and State
unemployment_df["county_fip_state_key"] = unemployment_df["State"] + unemployment_df["FIPS_Code"].astype(str)

In [27]:
# Drop duplicative columns prior to joining DataFrames
unemployment_df.drop(columns=["Area_name","FIPS_Code", "County","State"], inplace=True)

unemployment_df.head()

,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019,county_fip_state_key
0,1.0,1.0,City,1.0,"8,640","8,067",573,6.6,"47,918",92.6,AL1007
1,1.0,1.0,City,1.0,"24,661","23,653","1,008",4.1,"52,902",102.2,AL1009
2,1.0,1.0,City,1.0,"19,592","18,618",974,5.0,"49,692",96.0,AL1021
3,1.0,1.0,City,1.0,"315,957","296,282","19,675",6.2,"54,127",104.6,AL1073
4,1.0,1.0,City,1.0,"40,132","38,146","1,986",4.9,"65,403",126.3,AL1115

In [28]:
# Join breweries_df with unemployment_df 
breweries2_df = pd.merge(breweries_df, unemployment_df, on="county_fip_state_key")
breweries2_df.head(5)

,county_fip_state_key,Brewery,City,County,State,county_fips,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,AK2020,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
1,AK2020,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
2,AK2020,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
3,AK2020,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
4,AK2020,Glacier Brewhouse,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9

In [29]:
breweries2_df.columns

Index(['county_fip_state_key', 'Brewery', 'City', 'County', 'State',
       'county_fips', 'Rural_urban_continuum_code_2013',
       'Urban_influence_code_2013', 'Community_Type', 'Metro_2013',
       'Civilian_labor_force_2020', 'Employed_2020', 'Unemployed_2020',
       'Unemployment_rate_2020', 'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019'],
      dtype='object')

In [30]:
# Check for null values.
for column in breweries2_df.columns:
    print(f"Column {column} has {breweries2_df[column].isnull().sum()}null values")

Column county_fip_state_key has 0null values
Column Brewery has 0null values
Column City has 0null values
Column County has 0null values
Column State has 0null values
Column county_fips has 0null values
Column Rural_urban_continuum_code_2013 has 0null values
Column Urban_influence_code_2013 has 0null values
Column Community_Type has 0null values
Column Metro_2013 has 0null values
Column Civilian_labor_force_2020 has 0null values
Column Employed_2020 has 0null values
Column Unemployed_2020 has 0null values
Column Unemployment_rate_2020 has 0null values
Column Median_Household_Income_2019 has 0null values
Column Med_HH_Income_Percent_of_State_Total_2019 has 0null values

In [31]:
# Check for duplicate entries
print(f"Duplicate entries: {breweries2_df.duplicated().sum()}")

Duplicate entries: 0

In [32]:
# Read in the UIC codes data and create a Pandas DataFrame.
# Loading data
file_path = "UIC_codes.csv" 
uic_df= pd.read_csv(file_path)

uic_df.head()

,FIPS,State,County_Name,County,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural
0,1007,AL,Bibb County,Bibb,"22,915",1,Large-in a metro area with at least 1 million ...,City
1,1009,AL,Blount County,Blount,"57,322",1,Large-in a metro area with at least 1 million ...,City
2,1021,AL,Chilton County,Chilton,"43,643",1,Large-in a metro area with at least 1 million ...,City
3,1073,AL,Jefferson County,Jefferson,"658,466",1,Large-in a metro area with at least 1 million ...,City
4,1115,AL,St. Clair County,St. Clair,"83,593",1,Large-in a metro area with at least 1 million ...,City

In [33]:
# Create a new key column from FIPS_code and State
uic_df["county_fip_state_key"] = uic_df["State"] + uic_df["FIPS"].astype(str)

uic_df.head()

,FIPS,State,County_Name,County,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural,county_fip_state_key
0,1007,AL,Bibb County,Bibb,"22,915",1,Large-in a metro area with at least 1 million ...,City,AL1007
1,1009,AL,Blount County,Blount,"57,322",1,Large-in a metro area with at least 1 million ...,City,AL1009
2,1021,AL,Chilton County,Chilton,"43,643",1,Large-in a metro area with at least 1 million ...,City,AL1021
3,1073,AL,Jefferson County,Jefferson,"658,466",1,Large-in a metro area with at least 1 million ...,City,AL1073
4,1115,AL,St. Clair County,St. Clair,"83,593",1,Large-in a metro area with at least 1 million ...,City,AL1115

In [34]:
uic_df.drop(columns=["FIPS", "State","County_Name","County"], inplace=True)
uic_df.head()

,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural,county_fip_state_key
0,"22,915",1,Large-in a metro area with at least 1 million ...,City,AL1007
1,"57,322",1,Large-in a metro area with at least 1 million ...,City,AL1009
2,"43,643",1,Large-in a metro area with at least 1 million ...,City,AL1021
3,"658,466",1,Large-in a metro area with at least 1 million ...,City,AL1073
4,"83,593",1,Large-in a metro area with at least 1 million ...,City,AL1115

In [35]:
# Join breweries2_df with uic_df 
breweries3_df = pd.merge(breweries2_df, uic_df, on="county_fip_state_key")
breweries3_df.head()

,county_fip_state_key,Brewery,City,County,State,county_fips,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural
0,AK2020,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
1,AK2020,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
2,AK2020,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
3,AK2020,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
4,AK2020,Glacier Brewhouse,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City

In [36]:
# Read in the education data and create a Pandas DataFrame.
# Loading data
file_path = "education.csv" 
education_df= pd.read_csv(file_path)

education_df.head()

,FIPS Code,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,20.5,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,28.4,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,25.6,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1

In [37]:
# Create a new key column from FIPS_code and State
# Create a new key column from FIPS_code and State
education_df["county_fip_state_key"] = education_df["State"] + education_df["FIPS Code"].astype(str)

education_df.head()

,FIPS Code,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970",...,"Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",county_fip_state_key
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4,AL1007
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1,AL1009
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7,AL1021
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4,AL1073
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1,AL1115

In [38]:
education_df.columns

Index(['FIPS Code', 'State', 'Area name', 'County',
       '2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2015-19',
       'High school diploma only, 2015-19',
       'Some college or associate's degree, 2015-19',
       'Bachelor's degree or higher, 2015-19',
       'Percent of adults with less than a high school diploma, 2015-19',
       'Percent of adults with a high school diploma only, 2015-19',
       'Percent of adults completing some college or associate's degree, 2015-19',
       'Percent of adults with a bachelor's degree or higher, 2015-19',
       'county_fip_state_key'],
      dtype='object')

In [39]:
education_df.drop(columns=["FIPS Code", "Area name","County","State",], inplace=True)

In [40]:
education_df.head()

,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970","Four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1970",...,"Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",county_fip_state_key
0,1.0,1.0,1.0,1.0,City,"5,272","1,402",238,302,73.1,...,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4,AL1007
1,1.0,1.0,1.0,1.0,City,"10,677","3,440",626,404,70.5,...,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1,AL1009
2,1.0,1.0,1.0,1.0,City,"10,285","2,805",538,415,73.2,...,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7,AL1021
3,1.0,1.0,1.0,1.0,City,"186,882","101,656","32,182","33,827",52.7,...,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4,AL1073
4,1.0,1.0,1.0,1.0,City,"10,304","3,540",666,471,68.8,...,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1,AL1115

In [41]:
# Check for null values.
for column in education_df.columns:
    print(f"Column {column} has {education_df[column].isnull().sum()}null values")

Column 2003 Rural-urban Continuum Code has 62null values
Column 2003 Urban Influence Code has 62null values
Column 2013 Rural-urban Continuum Code has 62null values
Column 2013 Urban Influence Code has 62null values
Column City/Suburb/Town/Rural 2013 has 62null values
Column Less than a high school diploma, 1970 has 97null values
Column High school diploma only, 1970 has 97null values
Column Some college (1-3 years), 1970 has 97null values
Column Four years of college or higher, 1970 has 97null values
Column Percent of adults with less than a high school diploma, 1970 has 97null values
Column Percent of adults with a high school diploma only, 1970 has 97null values
Column Percent of adults completing some college (1-3 years), 1970 has 97null values
Column Percent of adults completing four years of college or higher, 1970 has 97null values
Column Less than a high school diploma, 1980 has 16null values
Column High school diploma only, 1980 has 16null values
Column Some college (1-3 years), 1980 has 16null values
Column Four years of college or higher, 1980 has 16null values
Column Percent of adults with less than a high school diploma, 1980 has 16null values
Column Percent of adults with a high school diploma only, 1980 has 16null values
Column Percent of adults completing some college (1-3 years), 1980 has 16null values
Column Percent of adults completing four years of college or higher, 1980 has 16null values
Column Less than a high school diploma, 1990 has 12null values
Column High school diploma only, 1990 has 12null values
Column Some college or associate's degree, 1990 has 12null values
Column Bachelor's degree or higher, 1990 has 12null values
Column Percent of adults with less than a high school diploma, 1990 has 12null values
Column Percent of adults with a high school diploma only, 1990 has 12null values
Column Percent of adults completing some college or associate's degree, 1990 has 13null values
Column Percent of adults with a bachelor's degree or higher, 1990 has 12null values
Column Less than a high school diploma, 2000 has 11null values
Column High school diploma only, 2000 has 11null values
Column Some college or associate's degree, 2000 has 11null values
Column Bachelor's degree or higher, 2000 has 11null values
Column Percent of adults with less than a high school diploma, 2000 has 11null values
Column Percent of adults with a high school diploma only, 2000 has 11null values
Column Percent of adults completing some college or associate's degree, 2000 has 11null values
Column Percent of adults with a bachelor's degree or higher, 2000 has 11null values
Column Less than a high school diploma, 2015-19 has 10null values
Column High school diploma only, 2015-19 has 10null values
Column Some college or associate's degree, 2015-19 has 10null values
Column Bachelor's degree or higher, 2015-19 has 10null values
Column Percent of adults with less than a high school diploma, 2015-19 has 10null values
Column Percent of adults with a high school diploma only, 2015-19 has 10null values
Column Percent of adults completing some college or associate's degree, 2015-19 has 10null values
Column Percent of adults with a bachelor's degree or higher, 2015-19 has 10null values
Column county_fip_state_key has 0null values

In [42]:
# Drop null values
education_df=education_df.dropna()
education_df.columns

Index(['2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2015-19',
       'High school diploma only, 2015-19',
       'Some college or associate's degree, 2015-19',
       'Bachelor's degree or higher, 2015-19',
       'Percent of adults with less than a high school diploma, 2015-19',
       'Percent of adults with a high school diploma only, 2015-19',
       'Percent of adults completing some college or associate's degree, 2015-19',
       'Percent of adults with a bachelor's degree or higher, 2015-19',
       'county_fip_state_key'],
      dtype='object')

In [43]:
# Find duplicate entries
print(f"Duplicate entries: {education_df.duplicated().sum()}")

Duplicate entries: 0

In [44]:
# Join breweries3_df with education_df to create a new DataFrame 
brewery_demographics_df = pd.merge(breweries3_df, education_df, on="county_fip_state_key")
brewery_demographics_df.drop(columns=["county_fip_state_key",], inplace=True)
brewery_demographics_df.head()

,Brewery,City,County,State,county_fips,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
1,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
2,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
3,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
4,Glacier Brewhouse,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1

In [45]:
brewery_demographics_df.columns

Index(['Brewery', 'City', 'County', 'State', 'county_fips',
       'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013',
       'Community_Type', 'Metro_2013', 'Civilian_labor_force_2020',
       'Employed_2020', 'Unemployed_2020', 'Unemployment_rate_2020',
       'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019', 'Population_2010',
       'UIC_2013', 'Description', 'City/Suburb/Town/Rural',
       '2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2015-19',
       'High school diploma only, 2015-19',
       'Some college or associate's degree, 2015-19',
       'Bachelor's degree or higher, 2015-19',
       'Percent of adults with less than a high school diploma, 2015-19',
       'Percent of adults with a high school diploma only, 2015-19',
       'Percent of adults completing some college or associate's degree, 2015-19',
       'Percent of adults with a bachelor's degree or higher, 2015-19'],
      dtype='object')

In [50]:
# Export brewery demographics to sqlite
from sqlalchemy import create_engine

In [51]:
engine = create_engine('sqlite:///save_pandas.db', echo=True)
sqlite_connection = engine.connect()

In [52]:
sqlite_table = "brewery_demographics"
brewery_demographics_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-10-31 21:09:26,157 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("brewery_demographics")
2021-10-31 21:09:26,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-31 21:09:26,163 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("brewery_demographics")
2021-10-31 21:09:26,164 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-31 21:09:26,173 INFO sqlalchemy.engine.Engine
CREATE TABLE brewery_demographics (
	"index" BIGINT,
	"Brewery" TEXT,
	"City" TEXT,
	"County" TEXT,
	"State" TEXT,
	county_fips BIGINT,
	"Rural_urban_continuum_code_2013" FLOAT,
	"Urban_influence_code_2013" FLOAT,
	"Community_Type" TEXT,
	"Metro_2013" FLOAT,
	"Civilian_labor_force_2020" TEXT,
	"Employed_2020" TEXT,
	"Unemployed_2020" TEXT,
	"Unemployment_rate_2020" FLOAT,
	"Median_Household_Income_2019" TEXT,
	"Med_HH_Income_Percent_of_State_Total_2019" FLOAT,
	"Population_2010" TEXT,
	"UIC_2013" BIGINT,
	"Description" TEXT,
	"City/Suburb/Town/Rural" TEXT,
	"2003 Rural-urban Continuum Code" FLOAT,
	"2003 Urban Influence Code" FLOAT,
	"2013 Rural-urban Continuum Code" FLOAT,
	"2013 Urban Influence Code" FLOAT,
	"City/Suburb/Town/Rural 2013" TEXT,
	"Less than a high school diploma, 1970" TEXT,
	"High school diploma only, 1970" TEXT,
	"Some college (1-3 years), 1970" TEXT,
	"Four years of college or higher, 1970" TEXT,
	"Percent of adults with less than a high school diploma, 1970" FLOAT,
	"Percent of adults with a high school diploma only, 1970" FLOAT,
	"Percent of adults completing some college (1-3 years), 1970" FLOAT,
	"Percent of adults completing four years of college or higher, 1970" FLOAT,
	"Less than a high school diploma, 1980" TEXT,
	"High school diploma only, 1980" TEXT,
	"Some college (1-3 years), 1980" TEXT,
	"Four years of college or higher, 1980" TEXT,
	"Percent of adults with less than a high school diploma, 1980" FLOAT,
	"Percent of adults with a high school diploma only, 1980" FLOAT,
	"Percent of adults completing some college (1-3 years), 1980" FLOAT,
	"Percent of adults completing four years of college or higher, 1980" FLOAT,
	"Less than a high school diploma, 1990" TEXT,
	"High school diploma only, 1990" TEXT,
	"Some college or associate's degree, 1990" TEXT,
	"Bachelor's degree or higher, 1990" TEXT,
	"Percent of adults with less than a high school diploma, 1990" FLOAT,
	"Percent of adults with a high school diploma only, 1990" FLOAT,
	"Percent of adults completing some college or associate's degree, 1990" FLOAT,
	"Percent of adults with a bachelor's degree or higher, 1990" FLOAT,
	"Less than a high school diploma, 2000" TEXT,
	"High school diploma only, 2000" TEXT,
	"Some college or associate's degree, 2000" TEXT,
	"Bachelor's degree or higher, 2000" TEXT,
	"Percent of adults with less than a high school diploma, 2000" FLOAT,
	"Percent of adults with a high school diploma only, 2000" FLOAT,
	"Percent of adults completing some college or associate's degree, 2000" FLOAT,
	"Percent of adults with a bachelor's degree or higher, 2000" FLOAT,
	"Less than a high school diploma, 2015-19" TEXT,
	"High school diploma only, 2015-19" TEXT,
	"Some college or associate's degree, 2015-19" TEXT,
	"Bachelor's degree or higher, 2015-19" TEXT,
	"Percent of adults with less than a high school diploma, 2015-19" FLOAT,
	"Percent of adults with a high school diploma only, 2015-19" FLOAT,
	"Percent of adults completing some college or associate's degree, 2015-19" FLOAT,
	"Percent of adults with a bachelor's degree or higher, 2015-19" FLOAT
)


2021-10-31 21:09:26,174 INFO sqlalchemy.engine.Engine [no key 0.00093s] ()
2021-10-31 21:09:26,545 INFO sqlalchemy.engine.Engine COMMIT
2021-10-31 21:09:26,548 INFO sqlalchemy.engine.Engine CREATE INDEX ix_brewery_demographics_index ON brewery_demographics ("index")
2021-10-31 21:09:26,550 INFO sqlalchemy.engine.Engine [no key 0.00206s] ()
2021-10-31 21:09:26,558 INFO sqlalchemy.engine.Engine COMMIT
2021-10-31 21:09:26,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-31 21:09:27,167 INFO sqlalchemy.engine.Engine INSERT INTO brewery_demographics ("index", "Brewery", "City", "County", "State", county_fips, "Rural_urban_continuum_code_2013", "Urban_influence_code_2013", "Community_Type", "Metro_2013", "Civilian_labor_force_2020", "Employed_2020", "Unemployed_2020", "Unemployment_rate_2020", "Median_Household_Income_2019", "Med_HH_Income_Percent_of_State_Total_2019", "Population_2010", "UIC_2013", "Description", "City/Suburb/Town/Rural", "2003 Rural-urban Continuum Code", "2003 Urban Influence Code", "2013 Rural-urban Continuum Code", "2013 Urban Influence Code", "City/Suburb/Town/Rural 2013", "Less than a high school diploma, 1970", "High school diploma only, 1970", "Some college (1-3 years), 1970", "Four years of college or higher, 1970", "Percent of adults with less than a high school diploma, 1970", "Percent of adults with a high school diploma only, 1970", "Percent of adults completing some college (1-3 years), 1970", "Percent of adults completing four years of college or higher, 1970", "Less than a high school diploma, 1980", "High school diploma only, 1980", "Some college (1-3 years), 1980", "Four years of college or higher, 1980", "Percent of adults with less than a high school diploma, 1980", "Percent of adults with a high school diploma only, 1980", "Percent of adults completing some college (1-3 years), 1980", "Percent of adults completing four years of college or higher, 1980", "Less than a high school diploma, 1990", "High school diploma only, 1990", "Some college or associate's degree, 1990", "Bachelor's degree or higher, 1990", "Percent of adults with less than a high school diploma, 1990", "Percent of adults with a high school diploma only, 1990", "Percent of adults completing some college or associate's degree, 1990", "Percent of adults with a bachelor's degree or higher, 1990", "Less than a high school diploma, 2000", "High school diploma only, 2000", "Some college or associate's degree, 2000", "Bachelor's degree or higher, 2000", "Percent of adults with less than a high school diploma, 2000", "Percent of adults with a high school diploma only, 2000", "Percent of adults completing some college or associate's degree, 2000", "Percent of adults with a bachelor's degree or higher, 2000", "Less than a high school diploma, 2015-19", "High school diploma only, 2015-19", "Some college or associate's degree, 2015-19", "Bachelor's degree or higher, 2015-19", "Percent of adults with less than a high school diploma, 2015-19", "Percent of adults with a high school diploma only, 2015-19", "Percent of adults completing some college or associate's degree, 2015-19", "Percent of adults with a bachelor's degree or higher, 2015-19") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-10-31 21:09:27,168 INFO sqlalchemy.engine.Engine [generated in 0.51854s] ((0, '49th State Brewing Co Anchorage', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (1, 'Anchorage Brewing Co', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (2, 'Broken Tooth Brewing Co', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (3, 'Cynosure Brewing Co', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (4, 'Glacier Brewhouse', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (5, 'King Street Brewing Co', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (6, 'Magnetic North Brewing Co', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1), (7, 'Midnight Sun Brewing Co', 'Anchorage', ' Anchorage', 'AK', 2020, 2.0, 2.0, 'City', 1.0, '148,392', '137,421', '10,971', 7.4, '82,512', 106.9, '291,826', 2, 'Small-in a metro area with fewer than 1 million residents                                           ', 'City', 2.0, 2.0, 2.0, 2.0, 'City', '13,711', '24,301', '9,878', '9,038', 24.1, 42.7, 17.4, 15.9, '10,839', '36,870', '23,327', '21,984', 11.7, 39.6, 25.1, 23.6, '13,139', '34,504', '52,320', '36,692', 9.6, 25.2, 38.3, 26.9, '15,522', '38,741', '59,428', '46,240', 9.7, 24.2, 37.2, 28.9, '11,701', '44,936', '65,951', '69,282', 6.1, 23.4, 34.4, 36.1)  ... displaying 10 of 7521 total bound parameter sets ...  (7519, 'Ten Sleep Brewing Co', 'Ten Sleep', ' Washakie', 'WY', 56043, 7.0, 11.0, 'Rural', 0.0, '4,004', '3,793', '211', 5.3, '55,122', 83.3, '8,533', 11, 'Noncore not adjacent to a metro/micro area and contains a town of 2,500  or more residents          ', 'Rural', 7.0, 11.0, 7.0, 11.0, 'Rural', '1,572', '1,437', '590', '432', 39.0, 35.6, 14.6, 10.7, '1,301', '2,276', '1,024', '662', 24.7, 43.2, 19.5, 12.6, '1,150', '1,876', '1,406', '1,000', 21.2, 34.5, 25.9, 18.4, '785', '1,844', '1,809', '1,022', 14.4, 33.8, 33.1, 18.7, '568', '1,650', '2,031', '1,297', 10.2, 29.8, 36.6, 23.4), (7520, 'One Eyed Buffalo Brewing Co', 'Thermopolis', ' Hot Springs', 'WY', 56017, 7.0, 9.0, 'Rural', 0.0, '2,249', '2,136', '113', 5.0, '52,344', 79.1, '4,812', 9, 'Noncore adjacent to micro area and contains a town of 2,500-19,999 residents                        ', 'Rural', 7.0, 9.0, 7.0, 9.0, 'Rural', '1,365', '1,068', '361', '195', 45.7, 35.7, 12.1, 6.5, '1,034', '1,309', '837', '297', 29.7, 37.6, 24.1, 8.5, '790', '1,182', '858', '472', 23.9, 35.8, 26.0, 14.3, '556', '1,270', '1,059', '630', 15.8, 36.1, 30.1, 17.9, '184', '1,023', '1,433', '822', 5.3, 29.5, 41.4, 23.7))

2021-10-31 21:09:27,290 INFO sqlalchemy.engine.Engine COMMIT