In [55]:
# Initial imports
import pandas as pd
import numpy as np
import hvplot.pandas
from path import Path
import sqlite3
from sqlalchemy import create_engine
from config import db_password

In [56]:
# Read in the data for brewery listings and create a Pandas DataFrame.
# Loading data
file_path = "brewery_listing.csv" 
brewery_listing_df= pd.read_csv(file_path)

brewery_listing_df.head()

,key,Name,Address,City,ST,Zip,County,Website,Phone,Type,New_Revised,Updated
0,Anchorage AK,49th State Brewing Co Anchorage,717 W 3rd Ave,Anchorage,AK,99501,Anchorage,49statebrewing.com/anchorage/,907-277 7727,BP,NaN,NaN
1,Anchorage AK,Anchorage Brewing Co,148 W 91st Ave,Anchorage,AK,99515,Anchorage,anchoragebrewingcompany.com/,907-360-5104,BC/TR,NaN,NaN
2,Anchorage AK,Broken Tooth Brewing Co,2021 Spar Ave,Anchorage,AK,99501,Anchorage,brokentoothbrewing.net/,907-278-4999,BC,NaN,NaN
3,Anchorage AK,Cynosure Brewing Co,144 E Potter Dr - Unit E,Anchorage,AK,99518,Anchorage,www.facebook.com/CynosureBrewing,907-563-2966,BC/TR,NaN,NaN
4,Anchorage AK,Glacier Brewhouse,737 W 5th Ave,Anchorage,AK,99501,Anchorage,www.glacierbrewhouse.com/,907-274-2739,BP,NaN,NaN

In [57]:
# Identify the columns 
brewery_listing_df.columns

Index(['key', 'Name', 'Address', 'City', 'ST', 'Zip', 'County', 'Website',
       'Phone', 'Type', 'New_Revised', 'Updated'],
      dtype='object')

In [58]:
# Rename the ST column to State
brewery_listing_df=brewery_listing_df.rename(columns={"Name":"Brewery","ST":"State"})

In [59]:
# Retain the desired columns
brewery_listing_df = brewery_listing_df[["key","Brewery", "City","County","State"]]

In [60]:
# Display the first five results
brewery_listing_df.head()

            key                          Brewery       City      County State
0  Anchorage AK  49th State Brewing Co Anchorage  Anchorage   Anchorage    AK
1  Anchorage AK             Anchorage Brewing Co  Anchorage   Anchorage    AK
2  Anchorage AK          Broken Tooth Brewing Co  Anchorage   Anchorage    AK
3  Anchorage AK              Cynosure Brewing Co  Anchorage   Anchorage    AK
4  Anchorage AK                Glacier Brewhouse  Anchorage   Anchorage    AK

In [61]:
# Check for null values.
for column in brewery_listing_df.columns:
    print(f"Column {column} has {brewery_listing_df[column].isnull().sum()}null values")

Column key has 0null values
Column Brewery has 0null values
Column City has 0null values
Column County has 0null values
Column State has 0null values

In [62]:
# Find duplicate entries
print(f"Duplicate entries: {brewery_listing_df.duplicated().sum()}")

Duplicate entries: 116

In [63]:
# Remove duplicates
brewery_listing_df=brewery_listing_df.drop_duplicates()

In [64]:
brewery_listing_df.dtypes

key        object
Brewery    object
City       object
County     object
State      object
dtype: object

In [65]:
# Read in the data for the county fips tool to a Pandas DataFrame.
# Loading data
file_path = "uscities.csv" 
fip_key_df= pd.read_csv(file_path)

fip_key_df = fip_key_df[["key","county_fips",]]

fip_key_df.head()

              key  county_fips
0     New York NY        36061
1  Los Angeles CA         6037
2      Chicago IL        17031
3        Miami FL        12086
4       Dallas TX        48113

In [66]:
# Check for null values.
for column in fip_key_df.columns:
    print(f"Column {column} has {fip_key_df[column].isnull().sum()}null values")

Column key has 0null values
Column county_fips has 0null values

In [67]:
# Find duplicate entries
print(f"Duplicate entries: {fip_key_df.duplicated().sum()}")

Duplicate entries: 0

In [68]:
# Join brewery_listing_df with fip_key_df to creat a new DataFrame called beweries_df
breweries_df = pd.merge(brewery_listing_df, fip_key_df, on="key")
breweries_df.drop(columns=["key"], inplace=True)
breweries_df.head()

                           Brewery       City      County State  county_fips
0  49th State Brewing Co Anchorage  Anchorage   Anchorage    AK         2020
1             Anchorage Brewing Co  Anchorage   Anchorage    AK         2020
2          Broken Tooth Brewing Co  Anchorage   Anchorage    AK         2020
3              Cynosure Brewing Co  Anchorage   Anchorage    AK         2020
4                Glacier Brewhouse  Anchorage   Anchorage    AK         2020

In [69]:
# Combine county_fips and State to create a new key field.
breweries_df["county_fip_state_key"] = breweries_df["State"] + breweries_df["county_fips"].astype(str)

In [70]:
# Retain desired columns
breweries_df= breweries_df[["county_fip_state_key","Brewery","City","County","State", "county_fips" ]]
breweries_df.head()

,county_fip_state_key,Brewery,City,County,State,county_fips
0,AK2020,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020
1,AK2020,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020
2,AK2020,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020
3,AK2020,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020
4,AK2020,Glacier Brewhouse,Anchorage,Anchorage,AK,2020

In [71]:
# Check for null values in new DataFrame.
for column in breweries_df.columns:
    print(f"Column {column} has {breweries_df[column].isnull().sum()}null values")

Column county_fip_state_key has 0null values
Column Brewery has 0null values
Column City has 0null values
Column County has 0null values
Column State has 0null values
Column county_fips has 0null values

In [72]:
# Check for duplicate entries in new DataFrame
print(f"Duplicate entries: {breweries_df.duplicated().sum()}")

Duplicate entries: 0

In [73]:
# Check variable types
breweries_df.dtypes

county_fip_state_key    object
Brewery                 object
City                    object
County                  object
State                   object
county_fips              int64
dtype: object

In [74]:
# Read in the unemployment data to a Pandas DataFrame.
# Loading data
file_path = "unemployment.csv" 
unemployment_df= pd.read_csv(file_path)
unemployment_df.head()

,FIPS_Code,State,Area_name,County,Rural_urban_continuum_code_2013,Urban_influence_code_2013,City/Suburb/Town/Rural,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,1007,AL,"Bibb County, AL",Bibb,1.0,1.0,City,1.0,"8,640","8,067",573,6.6,"47,918",92.6
1,1009,AL,"Blount County, AL",Blount,1.0,1.0,City,1.0,"24,661","23,653","1,008",4.1,"52,902",102.2
2,1021,AL,"Chilton County, AL",Chilton,1.0,1.0,City,1.0,"19,592","18,618",974,5.0,"49,692",96.0
3,1073,AL,"Jefferson County, AL",Jefferson,1.0,1.0,City,1.0,"315,957","296,282","19,675",6.2,"54,127",104.6
4,1115,AL,"St. Clair County, AL",St. Clair,1.0,1.0,City,1.0,"40,132","38,146","1,986",4.9,"65,403",126.3

In [75]:
# Get the column names.
unemployment_df.columns

Index(['FIPS_Code', 'State', 'Area_name', 'County',
       'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013',
       'City/Suburb/Town/Rural', 'Metro_2013', 'Civilian_labor_force_2020',
       'Employed_2020', 'Unemployed_2020', 'Unemployment_rate_2020',
       'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019'],
      dtype='object')

In [76]:
# Rename City/Suburb/Town/Rural to Community_Type
unemployment_df=unemployment_df.rename(columns={"City/Suburb/Town/Rural":"Community_Type"})

In [77]:
# Check for null values.
for column in unemployment_df.columns:
    print(f"Column {column} has {unemployment_df[column].isnull().sum()}null values")

Column FIPS_Code has 0null values
Column State has 0null values
Column Area_name has 0null values
Column County has 0null values
Column Rural_urban_continuum_code_2013 has 56null values
Column Urban_influence_code_2013 has 56null values
Column Community_Type has 56null values
Column Metro_2013 has 53null values
Column Civilian_labor_force_2020 has 82null values
Column Employed_2020 has 82null values
Column Unemployed_2020 has 82null values
Column Unemployment_rate_2020 has 82null values
Column Median_Household_Income_2019 has 82null values
Column Med_HH_Income_Percent_of_State_Total_2019 has 83null values

In [78]:
# Drop the null values
unemployment_df=unemployment_df.dropna()

In [79]:
# Find the duplicate entries
print(f"Duplicate entries: {unemployment_df.duplicated().sum()}")

Duplicate entries: 0

In [80]:
# Create a new key column from FIPS_code and State
unemployment_df["county_fip_state_key"] = unemployment_df["State"] + unemployment_df["FIPS_Code"].astype(str)

In [81]:
# Drop duplicative columns prior to joining DataFrames
unemployment_df.drop(columns=["Area_name","FIPS_Code", "County","State"], inplace=True)

unemployment_df.head()

,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019,county_fip_state_key
0,1.0,1.0,City,1.0,"8,640","8,067",573,6.6,"47,918",92.6,AL1007
1,1.0,1.0,City,1.0,"24,661","23,653","1,008",4.1,"52,902",102.2,AL1009
2,1.0,1.0,City,1.0,"19,592","18,618",974,5.0,"49,692",96.0,AL1021
3,1.0,1.0,City,1.0,"315,957","296,282","19,675",6.2,"54,127",104.6,AL1073
4,1.0,1.0,City,1.0,"40,132","38,146","1,986",4.9,"65,403",126.3,AL1115

In [82]:
# Join breweries_df with unemployment_df 
breweries2_df = pd.merge(breweries_df, unemployment_df, on="county_fip_state_key")
breweries2_df.head(5)

,county_fip_state_key,Brewery,City,County,State,county_fips,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,AK2020,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
1,AK2020,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
2,AK2020,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
3,AK2020,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9
4,AK2020,Glacier Brewhouse,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9

In [83]:
breweries2_df.columns

Index(['county_fip_state_key', 'Brewery', 'City', 'County', 'State',
       'county_fips', 'Rural_urban_continuum_code_2013',
       'Urban_influence_code_2013', 'Community_Type', 'Metro_2013',
       'Civilian_labor_force_2020', 'Employed_2020', 'Unemployed_2020',
       'Unemployment_rate_2020', 'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019'],
      dtype='object')

In [84]:
# Check for null values.
for column in breweries2_df.columns:
    print(f"Column {column} has {breweries2_df[column].isnull().sum()}null values")

Column county_fip_state_key has 0null values
Column Brewery has 0null values
Column City has 0null values
Column County has 0null values
Column State has 0null values
Column county_fips has 0null values
Column Rural_urban_continuum_code_2013 has 0null values
Column Urban_influence_code_2013 has 0null values
Column Community_Type has 0null values
Column Metro_2013 has 0null values
Column Civilian_labor_force_2020 has 0null values
Column Employed_2020 has 0null values
Column Unemployed_2020 has 0null values
Column Unemployment_rate_2020 has 0null values
Column Median_Household_Income_2019 has 0null values
Column Med_HH_Income_Percent_of_State_Total_2019 has 0null values

In [85]:
# Check for duplicate entries
print(f"Duplicate entries: {breweries2_df.duplicated().sum()}")

Duplicate entries: 0

In [86]:
# Read in the UIC codes data and create a Pandas DataFrame.
# Loading data
file_path = "UIC_codes.csv" 
uic_df= pd.read_csv(file_path)

uic_df.head()

,FIPS,State,County_Name,County,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural
0,1007,AL,Bibb County,Bibb,"22,915",1,Large-in a metro area with at least 1 million ...,City
1,1009,AL,Blount County,Blount,"57,322",1,Large-in a metro area with at least 1 million ...,City
2,1021,AL,Chilton County,Chilton,"43,643",1,Large-in a metro area with at least 1 million ...,City
3,1073,AL,Jefferson County,Jefferson,"658,466",1,Large-in a metro area with at least 1 million ...,City
4,1115,AL,St. Clair County,St. Clair,"83,593",1,Large-in a metro area with at least 1 million ...,City

In [87]:
# Create a new key column from FIPS_code and State
uic_df["county_fip_state_key"] = uic_df["State"] + uic_df["FIPS"].astype(str)

uic_df.head()

,FIPS,State,County_Name,County,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural,county_fip_state_key
0,1007,AL,Bibb County,Bibb,"22,915",1,Large-in a metro area with at least 1 million ...,City,AL1007
1,1009,AL,Blount County,Blount,"57,322",1,Large-in a metro area with at least 1 million ...,City,AL1009
2,1021,AL,Chilton County,Chilton,"43,643",1,Large-in a metro area with at least 1 million ...,City,AL1021
3,1073,AL,Jefferson County,Jefferson,"658,466",1,Large-in a metro area with at least 1 million ...,City,AL1073
4,1115,AL,St. Clair County,St. Clair,"83,593",1,Large-in a metro area with at least 1 million ...,City,AL1115

In [88]:
uic_df.drop(columns=["FIPS", "State","County_Name","County"], inplace=True)
uic_df.head()

,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural,county_fip_state_key
0,"22,915",1,Large-in a metro area with at least 1 million ...,City,AL1007
1,"57,322",1,Large-in a metro area with at least 1 million ...,City,AL1009
2,"43,643",1,Large-in a metro area with at least 1 million ...,City,AL1021
3,"658,466",1,Large-in a metro area with at least 1 million ...,City,AL1073
4,"83,593",1,Large-in a metro area with at least 1 million ...,City,AL1115

In [89]:
# Join breweries2_df with uic_df 
breweries3_df = pd.merge(breweries2_df, uic_df, on="county_fip_state_key")
breweries3_df.head()

,county_fip_state_key,Brewery,City,County,State,county_fips,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural
0,AK2020,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
1,AK2020,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
2,AK2020,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
3,AK2020,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City
4,AK2020,Glacier Brewhouse,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392","137,421","10,971",7.4,"82,512",106.9,"291,826",2,Small-in a metro area with fewer than 1 millio...,City

In [90]:
# Read in the education data and create a Pandas DataFrame.
# Loading data
file_path = "education.csv" 
education_df= pd.read_csv(file_path)

education_df.head()

,FIPS Code,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,20.5,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,28.4,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,25.6,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1

In [91]:
# Create a new key column from FIPS_code and State
# Create a new key column from FIPS_code and State
education_df["county_fip_state_key"] = education_df["State"] + education_df["FIPS Code"].astype(str)



education_df.head()

,FIPS Code,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970",...,"Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",county_fip_state_key
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4,AL1007
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1,AL1009
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7,AL1021
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4,AL1073
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1,AL1115

In [92]:
education_df.columns

Index(['FIPS Code', 'State', 'Area name', 'County',
       '2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2015-19',
       'High school diploma only, 2015-19',
       'Some college or associate's degree, 2015-19',
       'Bachelor's degree or higher, 2015-19',
       'Percent of adults with less than a high school diploma, 2015-19',
       'Percent of adults with a high school diploma only, 2015-19',
       'Percent of adults completing some college or associate's degree, 2015-19',
       'Percent of adults with a bachelor's degree or higher, 2015-19',
       'county_fip_state_key'],
      dtype='object')

In [93]:
education_df.drop(columns=["FIPS Code", "Area name","County","State",], inplace=True)

In [94]:
education_df=education_df.rename(columns={"Less than a high school diploma, 1970":"Less than HSD(1970)",
                                          "High school diploma only, 1970": "High school diploma only(1970)",
                                          "Some college (1-3 years), 1970": "Some college (1-3 years)(1970)",
                                          "Four years of college or higher, 1970":"Four or more years of college(1970)",
                                          "Percent of adults with less than a high school diploma, 1970":"Percent adults with less than HSD(1970)",
                                          "Percent of adults with a high school diploma only, 1970":"Percent adults with HSD only(1970)",
                                          "Percent of adults completing some college (1-3 years), 1970":"Percent adults 1-3 years college(1970)",
                                          "Percent of adults completing four years of college or higher, 1970": "Percent with four or more years of college(1970)",
                                          "Less than a high school diploma, 1980": "Less than HSD(1980)",
                                          "High school diploma only, 1980":"HSD only(1980)",
                                          "Some college (1-3 years), 1980":"Some college (1-3 years)(1980)",
                                          "Four years of college or higher, 1980":"Four or more years of college (1980)",
                                          "Percent of adults with less than a high school diploma, 1980":"Percent with less than HSD(1980)",
                                          "Percent of adults with a high school diploma only, 1980":"Percent with HSD only(1980)",
                                          "Percent of adults completing some college (1-3 years), 1980":"Percent with some college (1-3 years)(1980)",
                                          "Percent of adults completing four years of college or higher, 1980":"Percent with four ore more years of college(1980)",
                                          "Less than a high school diploma, 1990":"Less than HSD(1990)",
                                          "High school diploma only, 1990":"HSD only(1990)",
                                          "Some college or associate's degree, 1990":"Some college or ASD(1990)",
                                          "Bachelor's degree or higher, 1990":"BS degree or higher(1990)",
                                          "Percent of adults with less than a high school diploma, 1990":"Percent with less than HSD(1990)",
                                          "Percent of adults with a high school diploma only, 1990":"Percent with HSD only(1990)",
                                          "Percent of adults completing some college or associate's degree, 1990":"Percent with some college or ASD(1990)",
                                          "Percent of adults with a bachelor's degree or higher, 1990":"Percent with a BS degree or higher(1990)",
                                          "Less than a high school diploma, 2000":"Less than HSD(2000)",
                                          "High school diploma only, 2000":"HSD only(2000)",
                                          "Some college or associate's degree, 2000":"Some college or ASD(2000)",
                                          "Bachelor's degree or higher, 2000":"BS degree or higher(2000)",
                                          "Percent of adults with less than a high school diploma, 2000":"Percent with less than HSD(2000)",
                                          "Percent of adults with a high school diploma only, 2000":"Percent with HSD only(2000)",
                                          "Percent of adults completing some college or associate's degree, 2000":"Percent completing some college or ASD(2000)",
                                          "Percent of adults with a bachelor's degree or higher, 2000":"Percent with BS degree or higher(2000)",
                                          "Less than a high school diploma, 2015-19":"Less than HSD(2015-19)",
                                          "High school diploma only, 2015-19":"HSD only(2015-19",
                                          "Some college or associate's degree, 2015-19":"Some college or ASD(2015-19)",
                                          "Bachelor's degree or higher, 2015-19":"Bachelor's degree or higher 2015-19",
                                          "Percent of adults with less than a high school diploma, 2015-19":"Percent with less than HSD(2015-19)",
                                          "Percent of adults with a high school diploma only, 2015-19":"Percent with HSD only(2015-19)",
                                          "Percent of adults completing some college or associate's degree, 2015-19":"Percent completing some college or ASD(2015-19)",
                                          "Percent of adults with a bachelor's degree or higher, 2015-19":"Percent with BS degree or higher(2015-19)"})
                                               
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                        

education_df.head()

,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,Less than HSD(1970),High school diploma only(1970),Some college (1-3 years)(1970),Four or more years of college(1970),Percent adults with less than HSD(1970),...,Percent with BS degree or higher(2000),Less than HSD(2015-19),HSD only(2015-19,Some college or ASD(2015-19),Bachelor's degree or higher 2015-19,Percent with less than HSD(2015-19),Percent with HSD only(2015-19),Percent completing some college or ASD(2015-19),Percent with BS degree or higher(2015-19),county_fip_state_key
0,1.0,1.0,1.0,1.0,City,"5,272","1,402",238,302,73.1,...,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4,AL1007
1,1.0,1.0,1.0,1.0,City,"10,677","3,440",626,404,70.5,...,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1,AL1009
2,1.0,1.0,1.0,1.0,City,"10,285","2,805",538,415,73.2,...,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7,AL1021
3,1.0,1.0,1.0,1.0,City,"186,882","101,656","32,182","33,827",52.7,...,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4,AL1073
4,1.0,1.0,1.0,1.0,City,"10,304","3,540",666,471,68.8,...,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1,AL1115

In [95]:
# Check for null values.
for column in education_df.columns:
    print(f"Column {column} has {education_df[column].isnull().sum()}null values")

Column 2003 Rural-urban Continuum Code has 62null values
Column 2003 Urban Influence Code has 62null values
Column 2013 Rural-urban Continuum Code has 62null values
Column 2013 Urban Influence Code has 62null values
Column City/Suburb/Town/Rural 2013 has 62null values
Column Less than HSD(1970) has 97null values
Column High school diploma only(1970) has 97null values
Column Some college (1-3 years)(1970) has 97null values
Column Four or more years of college(1970) has 97null values
Column Percent adults with less than HSD(1970) has 97null values
Column Percent adults with HSD only(1970) has 97null values
Column Percent adults 1-3 years college(1970) has 97null values
Column Percent with four or more years of college(1970) has 97null values
Column Less than HSD(1980) has 16null values
Column HSD only(1980) has 16null values
Column Some college (1-3 years)(1980) has 16null values
Column Four or more years of college (1980) has 16null values
Column Percent with less than HSD(1980) has 16null values
Column Percent with HSD only(1980) has 16null values
Column Percent with some college (1-3 years)(1980) has 16null values
Column Percent with four ore more years of college(1980) has 16null values
Column Less than HSD(1990) has 12null values
Column HSD only(1990) has 12null values
Column Some college or ASD(1990) has 12null values
Column BS degree or higher(1990) has 12null values
Column Percent with less than HSD(1990) has 12null values
Column Percent with HSD only(1990) has 12null values
Column Percent with some college or ASD(1990) has 13null values
Column Percent with a BS degree or higher(1990) has 12null values
Column Less than HSD(2000) has 11null values
Column HSD only(2000) has 11null values
Column Some college or ASD(2000) has 11null values
Column BS degree or higher(2000) has 11null values
Column Percent with less than HSD(2000) has 11null values
Column Percent with HSD only(2000) has 11null values
Column Percent completing some college or ASD(2000) has 11null values
Column Percent with BS degree or higher(2000) has 11null values
Column Less than HSD(2015-19) has 10null values
Column HSD only(2015-19 has 10null values
Column Some college or ASD(2015-19) has 10null values
Column Bachelor's degree or higher 2015-19 has 10null values
Column Percent with less than HSD(2015-19) has 10null values
Column Percent with HSD only(2015-19) has 10null values
Column Percent completing some college or ASD(2015-19) has 10null values
Column Percent with BS degree or higher(2015-19) has 10null values
Column county_fip_state_key has 0null values

In [96]:
# Drop null values
education_df=education_df.dropna()
education_df.columns

Index(['2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than HSD(1970)',
       'High school diploma only(1970)', 'Some college (1-3 years)(1970)',
       'Four or more years of college(1970)',
       'Percent adults with less than HSD(1970)',
       'Percent adults with HSD only(1970)',
       'Percent adults 1-3 years college(1970)',
       'Percent with four or more years of college(1970)',
       'Less than HSD(1980)', 'HSD only(1980)',
       'Some college (1-3 years)(1980)',
       'Four or more years of college (1980)',
       'Percent with less than HSD(1980)', 'Percent with HSD only(1980)',
       'Percent with some college (1-3 years)(1980)',
       'Percent with four ore more years of college(1980)',
       'Less than HSD(1990)', 'HSD only(1990)', 'Some college or ASD(1990)',
       'BS degree or higher(1990)', 'Percent with less than HSD(1990)',
       'Percent with HSD only(1990)', 'Percent with some college or ASD(1990)',
       'Percent with a BS degree or higher(1990)', 'Less than HSD(2000)',
       'HSD only(2000)', 'Some college or ASD(2000)',
       'BS degree or higher(2000)', 'Percent with less than HSD(2000)',
       'Percent with HSD only(2000)',
       'Percent completing some college or ASD(2000)',
       'Percent with BS degree or higher(2000)', 'Less than HSD(2015-19)',
       'HSD only(2015-19', 'Some college or ASD(2015-19)',
       'Bachelor's degree or higher 2015-19',
       'Percent with less than HSD(2015-19)', 'Percent with HSD only(2015-19)',
       'Percent completing some college or ASD(2015-19)',
       'Percent with BS degree or higher(2015-19)', 'county_fip_state_key'],
      dtype='object')

In [97]:
# Find duplicate entries
print(f"Duplicate entries: {education_df.duplicated().sum()}")

Duplicate entries: 0

In [98]:
# Join breweries3_df with education_df to create a new DataFrame 
brewery_demographics = pd.merge(breweries3_df, education_df, on="county_fip_state_key")
brewery_demographics.drop(columns=["county_fip_state_key",], inplace=True)
brewery_demographics.head()

,Brewery,City,County,State,county_fips,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Community_Type,Metro_2013,Civilian_labor_force_2020,...,Percent completing some college or ASD(2000),Percent with BS degree or higher(2000),Less than HSD(2015-19),HSD only(2015-19,Some college or ASD(2015-19),Bachelor's degree or higher 2015-19,Percent with less than HSD(2015-19),Percent with HSD only(2015-19),Percent completing some college or ASD(2015-19),Percent with BS degree or higher(2015-19)
0,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
1,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
2,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
3,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1
4,Glacier Brewhouse,Anchorage,Anchorage,AK,2020,2.0,2.0,City,1.0,"148,392",...,37.2,28.9,"11,701","44,936","65,951","69,282",6.1,23.4,34.4,36.1

In [99]:
brewery_demographics.columns

Index(['Brewery', 'City', 'County', 'State', 'county_fips',
       'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013',
       'Community_Type', 'Metro_2013', 'Civilian_labor_force_2020',
       'Employed_2020', 'Unemployed_2020', 'Unemployment_rate_2020',
       'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019', 'Population_2010',
       'UIC_2013', 'Description', 'City/Suburb/Town/Rural',
       '2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than HSD(1970)',
       'High school diploma only(1970)', 'Some college (1-3 years)(1970)',
       'Four or more years of college(1970)',
       'Percent adults with less than HSD(1970)',
       'Percent adults with HSD only(1970)',
       'Percent adults 1-3 years college(1970)',
       'Percent with four or more years of college(1970)',
       'Less than HSD(1980)', 'HSD only(1980)',
       'Some college (1-3 years)(1980)',
       'Four or more years of college (1980)',
       'Percent with less than HSD(1980)', 'Percent with HSD only(1980)',
       'Percent with some college (1-3 years)(1980)',
       'Percent with four ore more years of college(1980)',
       'Less than HSD(1990)', 'HSD only(1990)', 'Some college or ASD(1990)',
       'BS degree or higher(1990)', 'Percent with less than HSD(1990)',
       'Percent with HSD only(1990)', 'Percent with some college or ASD(1990)',
       'Percent with a BS degree or higher(1990)', 'Less than HSD(2000)',
       'HSD only(2000)', 'Some college or ASD(2000)',
       'BS degree or higher(2000)', 'Percent with less than HSD(2000)',
       'Percent with HSD only(2000)',
       'Percent completing some college or ASD(2000)',
       'Percent with BS degree or higher(2000)', 'Less than HSD(2015-19)',
       'HSD only(2015-19', 'Some college or ASD(2015-19)',
       'Bachelor's degree or higher 2015-19',
       'Percent with less than HSD(2015-19)', 'Percent with HSD only(2015-19)',
       'Percent completing some college or ASD(2015-19)',
       'Percent with BS degree or higher(2015-19)'],
      dtype='object')

In [104]:
from config import db_password

In [105]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Group-Project"

In [106]:
engine = create_engine(db_string)

In [107]:
# Export brewery demographics to pgAdmin Postgre SQL 
brewery_demographics.to_sql(name='brewery_demographics', con=engine)