In [28]:
# Initial imports
import pandas as pd
import numpy as np
import hvplot.pandas
from path import Path
import sqlite3
from sqlalchemy import create_engine
from config import db_password

In [29]:
# Read in the data for brewery listings and create a Pandas DataFrame.
# Loading data
file_path = "brewery_listing.csv" 
breweries_df= pd.read_csv(file_path)

breweries_df.head()

,key,Name,Address,City,ST,Zip,County,Website,Phone,Type,New_Revised,Updated,FIPS
0,Anchorage AK,49th State Brewing Co Anchorage,717 W 3rd Ave,Anchorage,AK,99501,Anchorage,49statebrewing.com/anchorage/,907-277 7727,BP,NaN,NaN,2020
1,Anchorage AK,Anchorage Brewing Co,148 W 91st Ave,Anchorage,AK,99515,Anchorage,anchoragebrewingcompany.com/,907-360-5104,BC/TR,NaN,NaN,2020
2,Anchorage AK,Broken Tooth Brewing Co,2021 Spar Ave,Anchorage,AK,99501,Anchorage,brokentoothbrewing.net/,907-278-4999,BC,NaN,NaN,2020
3,Anchorage AK,Cynosure Brewing Co,144 E Potter Dr - Unit E,Anchorage,AK,99518,Anchorage,www.facebook.com/CynosureBrewing,907-563-2966,BC/TR,NaN,NaN,2020
4,Anchorage AK,Glacier Brewhouse,737 W 5th Ave,Anchorage,AK,99501,Anchorage,www.glacierbrewhouse.com/,907-274-2739,BP,NaN,NaN,2020

In [30]:
# Identify the columns 
breweries_df.columns

Index(['key', 'Name', 'Address', 'City', 'ST', 'Zip', 'County', 'Website',
       'Phone', 'Type', 'New_Revised', 'Updated', 'FIPS'],
      dtype='object')

In [37]:
# Rename the ST column to State
breweries_df=breweries_df.rename(columns={"Name":"Brewery","ST":"State"})

In [38]:
# Retain the desired columns
breweries_df = breweries_df[["key","Brewery", "City","County","State"]]

In [39]:
# Display the first five results
breweries_df.head()

,key,Brewery,City,County,State,county_fips
0,Anchorage AK,49th State Brewing Co Anchorage,Anchorage,Anchorage,AK,2020
1,Anchorage AK,Anchorage Brewing Co,Anchorage,Anchorage,AK,2020
2,Anchorage AK,Broken Tooth Brewing Co,Anchorage,Anchorage,AK,2020
3,Anchorage AK,Cynosure Brewing Co,Anchorage,Anchorage,AK,2020
4,Anchorage AK,Glacier Brewhouse,Anchorage,Anchorage,AK,2020

In [40]:
breweries_df.dtypes

key            object
Brewery        object
City           object
County         object
State          object
county_fips     int64
dtype: object

In [43]:
# Read in the unemployment data to a Pandas DataFrame.
# Loading data
file_path = "unemployment.csv" 
unemployment_df= pd.read_csv(file_path)
unemployment_df.head()

,FIPS_Code,State,Area_name,County,Rural_urban_continuum_code_2013,Urban_influence_code_2013,City/Suburb/Town/Rural,Metro_2013,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,1007,AL,"Bibb County, AL",Bibb,1.0,1.0,City,1.0,"8,640","8,067",573,6.6,"47,918",92.6
1,1009,AL,"Blount County, AL",Blount,1.0,1.0,City,1.0,"24,661","23,653","1,008",4.1,"52,902",102.2
2,1021,AL,"Chilton County, AL",Chilton,1.0,1.0,City,1.0,"19,592","18,618",974,5.0,"49,692",96.0
3,1073,AL,"Jefferson County, AL",Jefferson,1.0,1.0,City,1.0,"315,957","296,282","19,675",6.2,"54,127",104.6
4,1115,AL,"St. Clair County, AL",St. Clair,1.0,1.0,City,1.0,"40,132","38,146","1,986",4.9,"65,403",126.3

In [44]:
# Get the column names.
unemployment_df.columns

Index(['FIPS_Code', 'State', 'Area_name', 'County',
       'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013',
       'City/Suburb/Town/Rural', 'Metro_2013', 'Civilian_labor_force_2020',
       'Employed_2020', 'Unemployed_2020', 'Unemployment_rate_2020',
       'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019'],
      dtype='object')

In [45]:
# Rename City/Suburb/Town/Rural to Community_Type
unemployment_df=unemployment_df.rename(columns={"City/Suburb/Town/Rural":"Community_Type", "FIPS_Code":"county_fips"})

In [46]:
# Read in the education data and create a Pandas DataFrame.
# Loading data
file_path = "education.csv" 
education_df= pd.read_csv(file_path)

education_df.head()

,FIPS Code,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,20.5,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,28.4,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,25.6,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1

In [47]:
# Rename FIPS_Code code column 
education_df=education_df.rename(columns={"FIPS Code":"county_fips"})
education_df.head()

,county_fips,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,"Less than a high school diploma, 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,20.5,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,28.4,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,25.6,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1

In [48]:
education_df.columns

Index(['county_fips', 'State', 'Area name', 'County',
       '2003 Rural-urban Continuum Code', '2003 Urban Influence Code',
       '2013 Rural-urban Continuum Code', '2013 Urban Influence Code',
       'City/Suburb/Town/Rural 2013', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       'Some college or associate's degree, 1990',
       'Bachelor's degree or higher, 1990',
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       'Percent of adults completing some college or associate's degree, 1990',
       'Percent of adults with a bachelor's degree or higher, 1990',
       'Less than a high school diploma, 2000',
       'High school diploma only, 2000',
       'Some college or associate's degree, 2000',
       'Bachelor's degree or higher, 2000',
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       'Percent of adults completing some college or associate's degree, 2000',
       'Percent of adults with a bachelor's degree or higher, 2000',
       'Less than a high school diploma, 2015-19',
       'High school diploma only, 2015-19',
       'Some college or associate's degree, 2015-19',
       'Bachelor's degree or higher, 2015-19',
       'Percent of adults with less than a high school diploma, 2015-19',
       'Percent of adults with a high school diploma only, 2015-19',
       'Percent of adults completing some college or associate's degree, 2015-19',
       'Percent of adults with a bachelor's degree or higher, 2015-19'],
      dtype='object')

In [49]:
education_df=education_df.rename(columns={"Less than a high school diploma, 1970":"Less than HSD(1970)",
                                          "High school diploma only, 1970": "High school diploma only(1970)",
                                          "Some college (1-3 years), 1970": "Some college (1-3 years)(1970)",
                                          "Four years of college or higher, 1970":"Four or more years of college(1970)",
                                          "Percent of adults with less than a high school diploma, 1970":"Percent adults with less than HSD(1970)",
                                          "Percent of adults with a high school diploma only, 1970":"Percent adults with HSD only(1970)",
                                          "Percent of adults completing some college (1-3 years), 1970":"Percent adults 1-3 years college(1970)",
                                          "Percent of adults completing four years of college or higher, 1970": "Percent with four or more years of college(1970)",
                                          "Less than a high school diploma, 1980": "Less than HSD(1980)",
                                          "High school diploma only, 1980":"HSD only(1980)",
                                          "Some college (1-3 years), 1980":"Some college (1-3 years)(1980)",
                                          "Four years of college or higher, 1980":"Four or more years of college (1980)",
                                          "Percent of adults with less than a high school diploma, 1980":"Percent with less than HSD(1980)",
                                          "Percent of adults with a high school diploma only, 1980":"Percent with HSD only(1980)",
                                          "Percent of adults completing some college (1-3 years), 1980":"Percent with some college (1-3 years)(1980)",
                                          "Percent of adults completing four years of college or higher, 1980":"Percent with four ore more years of college(1980)",
                                          "Less than a high school diploma, 1990":"Less than HSD(1990)",
                                          "High school diploma only, 1990":"HSD only(1990)",
                                          "Some college or associate's degree, 1990":"Some college or ASD(1990)",
                                          "Bachelor's degree or higher, 1990":"BS degree or higher(1990)",
                                          "Percent of adults with less than a high school diploma, 1990":"Percent with less than HSD(1990)",
                                          "Percent of adults with a high school diploma only, 1990":"Percent with HSD only(1990)",
                                          "Percent of adults completing some college or associate's degree, 1990":"Percent with some college or ASD(1990)",
                                          "Percent of adults with a bachelor's degree or higher, 1990":"Percent with a BS degree or higher(1990)",
                                          "Less than a high school diploma, 2000":"Less than HSD(2000)",
                                          "High school diploma only, 2000":"HSD only(2000)",
                                          "Some college or associate's degree, 2000":"Some college or ASD(2000)",
                                          "Bachelor's degree or higher, 2000":"BS degree or higher(2000)",
                                          "Percent of adults with less than a high school diploma, 2000":"Percent with less than HSD(2000)",
                                          "Percent of adults with a high school diploma only, 2000":"Percent with HSD only(2000)",
                                          "Percent of adults completing some college or associate's degree, 2000":"Percent completing some college or ASD(2000)",
                                          "Percent of adults with a bachelor's degree or higher, 2000":"Percent with BS degree or higher(2000)",
                                          "Less than a high school diploma, 2015-19":"Less than HSD(2015-19)",
                                          "High school diploma only, 2015-19":"HSD only(2015-19",
                                          "Some college or associate's degree, 2015-19":"Some college or ASD(2015-19)",
                                          "Bachelor's degree or higher, 2015-19":"Bachelor's degree or higher 2015-19",
                                          "Percent of adults with less than a high school diploma, 2015-19":"Percent with less than HSD(2015-19)",
                                          "Percent of adults with a high school diploma only, 2015-19":"Percent with HSD only(2015-19)",
                                          "Percent of adults completing some college or associate's degree, 2015-19":"Percent completing some college or ASD(2015-19)",
                                          "Percent of adults with a bachelor's degree or higher, 2015-19":"Percent with BS degree or higher(2015-19)"})
                                               
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                        

education_df.head()

,county_fips,State,Area name,County,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,City/Suburb/Town/Rural 2013,Less than HSD(1970),...,Percent completing some college or ASD(2000),Percent with BS degree or higher(2000),Less than HSD(2015-19),HSD only(2015-19,Some college or ASD(2015-19),Bachelor's degree or higher 2015-19,Percent with less than HSD(2015-19),Percent with HSD only(2015-19),Percent completing some college or ASD(2015-19),Percent with BS degree or higher(2015-19)
0,1007,AL,Bibb County,Bibb,1.0,1.0,1.0,1.0,City,"5,272",...,20.4,7.1,"3,386","7,256","3,848","1,678",20.9,44.9,23.8,10.4
1,1009,AL,Blount County,Blount,1.0,1.0,1.0,1.0,City,"10,677",...,24.8,9.6,"7,763","13,299","13,519","5,210",19.5,33.4,34.0,13.1
2,1021,AL,Chilton County,Chilton,1.0,1.0,1.0,1.0,City,"10,285",...,20.5,9.9,"5,474","13,348","7,401","3,823",18.2,44.4,24.6,12.7
3,1073,AL,Jefferson County,Jefferson,1.0,1.0,1.0,1.0,City,"186,882",...,28.4,24.6,"44,684","118,636","136,299","150,124",9.9,26.4,30.3,33.4
4,1115,AL,St. Clair County,St. Clair,1.0,1.0,1.0,1.0,City,"10,304",...,25.6,11.1,"9,488","21,849","20,207","9,880",15.4,35.6,32.9,16.1

In [50]:
# Read in the UIC codes data and create a Pandas DataFrame.
# Loading data
file_path = "UIC_codes.csv" 
uic_df= pd.read_csv(file_path)

uic_df

,FIPS,State,County_Name,County,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural
0,1007,AL,Bibb County,Bibb,"22,915",1,Large-in a metro area with at least 1 million ...,City
1,1009,AL,Blount County,Blount,"57,322",1,Large-in a metro area with at least 1 million ...,City
2,1021,AL,Chilton County,Chilton,"43,643",1,Large-in a metro area with at least 1 million ...,City
3,1073,AL,Jefferson County,Jefferson,"658,466",1,Large-in a metro area with at least 1 million ...,City
4,1115,AL,St. Clair County,St. Clair,"83,593",1,Large-in a metro area with at least 1 million ...,City
...,...,...,...,...,...,...,...,...
3216,55125,WI,Vilas County,Vilas,"21,430",12,Noncore not adjacent to a metro/micro area and...,Rural
3217,56003,WY,Big Horn County,Big Horn,"11,668",12,Noncore not adjacent to a metro/micro area and...,Rural
3218,56027,WY,Niobrara County,Niobrara,"2,484",12,Noncore not adjacent to a metro/micro area and...,Rural
3219,72049,PR,Culebra Municipio,Culebra Municipio,"1,818",12,Noncore not adjacent to a metro/micro area and...,Rural
3220,72147,PR,Vieques Municipio,Vieques Municipio,"9,301",12,Noncore not adjacent to a metro/micro area and...,Rural

In [51]:
uic_df=uic_df.rename(columns={"FIPS":"county_fips"})
uic_df.head()

,county_fips,State,County_Name,County,Population_2010,UIC_2013,Description,City/Suburb/Town/Rural
0,1007,AL,Bibb County,Bibb,"22,915",1,Large-in a metro area with at least 1 million ...,City
1,1009,AL,Blount County,Blount,"57,322",1,Large-in a metro area with at least 1 million ...,City
2,1021,AL,Chilton County,Chilton,"43,643",1,Large-in a metro area with at least 1 million ...,City
3,1073,AL,Jefferson County,Jefferson,"658,466",1,Large-in a metro area with at least 1 million ...,City
4,1115,AL,St. Clair County,St. Clair,"83,593",1,Large-in a metro area with at least 1 million ...,City

In [52]:
from config import db_password

In [53]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Group-Project"

In [54]:
engine = create_engine(db_string)

In [55]:
# Export tables to pgAdmin Postgre SQL 
breweries_df.to_sql(name='breweries', con=engine)

In [23]:
education_df.to_sql(name='education', con=engine)

In [24]:
uic_df.to_sql(name='uic', con=engine)

In [25]:
unemployment_df.to_sql(name='unemployment', con=engine)